<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
  body {
    background-color: #adffa9;
  }
  h2 {
    text-align: center;
  }
  div {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
  }
</style>
<h2>Log In</h2>
<div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
  </form>
  <br>
  <button onclick="location.href='/news/'"> Become a News </button>
</div>
{% endblock %}