{% load static %}
{% load custom_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

<title>{% block title %}Add News{% endblock %}</title>

{% if request.user|has_group:"admin" %}
<h1> Add News Story </h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        <p>Title</p>
        {{ form.title }}
        <p>Story</p>
        {{ form.story }} <br><br>
        <button onclick="location.href='/news/'">Cancel</button> &nbsp;
        <input type="submit" value="Submit">
    </form>
{% else %}
    <p> How did you get here! </p>
    <button onclick="location.href='/news/'"> Back to Safety </button>
{% endif %}
 