{% load static %}
{% load custom_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
<div class="main">
    <h1> News Homepage </h1>
    <p>Welcome to the news page. Stay up to date with our weely news articles!</p>
    <!-- Make only admin able to see add news button. Code also added to project/settings.py 
    and news/templatetags/custom_tags.py to work. -->
    {% if request.user|has_group:"admin" %}
        <button onclick="location.href='/add_news/'">Add News Story</button>
    {% endif %}
</div>

<div class="nav">
    <ul>
        <li><a href="/members/">Directory</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/courts/">Court Reservations</a></li>
        <li><a href="/members/">Account</a></li>
      </ul>
</div>