{% load static %}
{% load custom_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

<title>{% block title %}Wigeon Tennis Club{% endblock %}</title>

{% if user.is_authenticated %}
<div style="position: fixed;">
    <button onclick="location.href='/logout/'">Logout</button>
    <!-- Make only admin able to see add news button. Code also added to project/settings.py 
        and news/templatetags/custom_tags.py to work. -->
    {% if request.user|has_group:"admin" %}
    <button onclick="location.href='/news/add_news/'">Add News Story</button>
    {% endif %}
</div>

<div class="main">
    <div class="top-style">
        <img src="../static/news/images/sports_tennis.jpg" alt="tennis_rackets"> </img>
        <div class="top-text">
            <h1> News Homepage </h1>
        </div>
        <p style="color: black;">Welcome to the news page, {{ user.first_name }}. Stay up to date with our weekly news articles!</p>
        {% if user.payment_flag == True %}
            <p style="color: red;"> YOU HAVE OUTSTANDING FEES TOTALLING ${{ user.total_due }}. PLEASE PAY ASAP. </p>
        {% endif %}
    </div> 

    <!-- Display news stories from database reverse chronologically -->
    {% block content %}
        {% if news_list %}
            {% for story in news_list %}
                <div class="story">
                    <h2> {{ story.title }} </h2>
                    <p> {{ story.date }} </p>
                    <p> {{ story.story|safe}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    {% endblock %}
    
</div>

<div class="nav">
    <ul class="navul">
        <li><a href="/directory/">Directory</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/courts/">Court Reservation</a></li>
        {% if request.user|has_group:"admin" %}
            <li><a href="/account/adminProfile">Admin Account</a></li>
        {% elif request.user|has_group:"treasurer" %}
            <li><a href="/account/treasurerProfile">Treasurer Account</a></li>
        {% else %}
            <li><a href="/account/">Account</a></li>
        {% endif %}
      </ul>
</div>
{% else %}
    <p>You are not logged in</p>
    <button onclick="location.href='/login/'">Log In</button>
{% endif %}