input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
   }

body {
    background-color: #adffa9;
}

.main {
    text-align: center;
}

.nav {
    line-height: 50px;
    margin-right: 85%;
    border: 1px solid red;
}