{% load static %}
{% load custom_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'members/styles.css' %}">

{% if user.is_authenticated %}
<div style="position: fixed;">
    <button onclick="location.href='/logout/'">Logout</button>
</div>

<title>{% block title %}Directory{% endblock %}</title>

<!-- Display members from database -->
<div class="main">
    <div class="top-style">
        <h1> Wigeon Tennis Club Directory </h1>
    </div>
    {% block content %}
        {% if user_list %}
            {% for user in user_list %}
                {% if request.user|has_group:"admin" %}
                    <div class="info">
                        <h3>{{ user.first_name }} {{ user.last_name }} </h3>
                        <p>Age: {{ user.age }}</p>
                        <p>Phone Number: {{user.phone }}</p>
                        <p>Email Address: {{ user.email }}</p>
                        <p>Address: {{ user.address }}</p>
                        <p>Public Account?: {{ user.is_public }}</p>
                        <p>Outstanding Fees: ${{ user.total_due }}</p>
                    </div>
                {% else %}
                    {% if user.is_public == True %}
                        <div class="info">
                            <h3>{{ user.first_name }} {{ user.last_name }} </h3>
                            <p>Age: {{ user.age }}</p>
                            <p>Phone Number: {{ user.phone }}</p>
                            <p>Email Address: {{ user.email }}</p>
                            <p>Address: {{ user.address }}</p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No users are available.</p>
        {% endif %}
    {% endblock %}
</div>

<!-- navbar -->
<div class="nav">
    <ul class="navul">
        <li><a href="/directory/">Directory</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/courts/">Court Reservation</a></li>
        {% if request.user|has_group:"admin" %}
            <li><a href="/account/adminProfile">Admin Account</a></li>
        {% elif request.user|has_group:"treasurer" %}
            <li><a href="/account/treasurerProfile">Treasurer Account</a></li>
        {% else %}
            <li><a href="/account/">Account</a></li>
        {% endif %}
      </ul>
</div>
{% else %}
    <p>You are not logged in</p>
    <button onclick="location.href='/login/'">Log In</button>
{% endif %}