{% load static %}
{% load custom_tags %}
<h1>Admin Account</h1>
<link rel="stylesheet" type="text/css" href="{% static 'account/styles.css' %}">
<div class="main">
    {% block content %}
        {% if reservation_list %}
            {% for reservation in reservation_list %}
                <h3>Court: {{ reservation.courtNumber}} </h3>
                <p>Date: {{reservation.courtDate}}</p>
                <p>Time: {{reservation.courtTime}}</p>
                <p>Guest 1 Name: {{reservation.guest1FName}} {{reservation.guest1LName}}</p>
                <p>Guest 2 Name: {{reservation.guest2FName}} {{reservation.guest2LName}}</p>
                <p>Guest 3 Name: {{reservation.guest3FName}} {{reservation.guest3LName}}</p>
                <p>Guest 4 Name: {{reservation.guest4FName}} {{reservation.guest4LName}}</p>
                <a href="{% url 'deleteReservation' reservation.id %}">Delete</a>
            {% endfor %}
        {% else %}
            <p>No reservatins are here.</p>
        {% endif %}
    {% endblock %}
</div>

<div class="nav">
    <ul class="navul">
        <li><a href="/directory/">Directory</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/courts/">Court Reservation</a></li>
        <li><a href="/account/adminProfile">Admin Account</a></li>
      </ul>
</div>

<div class="adminButtons">
    <button onclick="location.href='/add_news/'">Add News Story</button>
    <button onclick="location.href='/directory/'">View Members</button>
</div>