{% load static %}
{% load custom_tags %}
<div class="main">
    <h1>Club Bills</h1>
    <p>Welcome to the club bills page. This is a list of all of the wonderful bills the tennis club needs to pay.</p>
    <br><br>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'account/styles.css' %}">

<div class="main">
    <div class="clubBills">
        {% block content %}
        {% if bill_list %}
            {% for bill in bill_list %}
                <h3>First Name: {{ bill.firstName }} Last Name: {{ bill.lastName }} </h3>
                <p>Amount Due: $100.00</p>
            {% endfor %}
        {% else %}
            <p>There are no bills.</p>
        {% endif %}
    {% endblock %}
    </div>
</div>