<h1>Edit Profile</h1>
<!-- <div>
    <p>Name: {{ user.first_name }} {{ user.last_name }} </p>
    <p>Age: {{user.age }}</p>
    <p>Phone Number: {{user.phone }}</p>
    <p>Email Address: {{user.email }}</p>
    <p>Address: {{user.address }}</p>
</div> -->
<div class="column">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <br>
        <small style="color: #6f7e85;">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      </p>
      {% endfor %}
      <button type="submit">Update Profile</button> &nbsp;
    </form>
  </div>