{% load static %}
{% load custom_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'account/styles.css' %}">
<h1>Account Info</h1>
<div class="nav">
    <ul class="navul">
        <li><a href="/directory/">Directory</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/courts/">Court Reservation</a></li>
        {% if request.user|has_group:"admin" %}
            <li><a href="/account/adminProfile">Admin Account</a></li>
        {% elif request.user|has_group:"treasurer" %}
            <li><a href="/account/treasurerProfile">Treasurer Account</a></li>
        {% else %}
            <li><a href="/account/">Account</a></li>
        {% endif %}
      </ul>
</div>

<div class="profilePic">
    <img src="{% static '/account/defaultProfilePic.jpg' %}" alt="Default Profile">
</div>

<div class="profileButtons">
    <button onclick="location.href='/account/reservations'">My Reservations</button>
    <button onclick="location.href='/account/bills'">Pay Your Bills</button>
    <button onclick="location.href='/account/editProfile'">Edit Profile</button>
    <a href="{% url 'deleteAccount' user.id %}">Delete</a>
</div>
<p>Date Joined: {{ user.date_joined.date }}</p>
<div class="logout">
    <button onclick="location.href='/logout/'">Log Out</button>
</div>