{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'courts/menu.css' %}">

<h1>Court Reservation Menu</h1>
<div class="nav">
   <ul class="navul">
       <li><a href="/news/">Directory</a></li>
       <li><a href="/news/">News</a></li>
       <li><a href="/courts/">Court Reservation</a></li>
       <li><a href="/account/">Account</a></li>
     </ul>
</div>
<div class="main">
   <div class = "dateHeaders">
      <div>Day 1</div>
      <div>Day 2</div>
      <div>Day 3</div>
      <div>Day 4</div>
      <div>Day 5</div>
      <div>Day 6</div>
      <div>Day 7</div>
   </div>
   
   <div class = "courtNumbers">
       <table>
           <tr>
               <th></th>
               <th>Court 1</th>
               <th>Court 2</th>
               <th>Court 3</th>
               <th>Court 4</th>
               <th>Court 5</th>
               <th>Court 6</th>
               <th>Court 7</th>
               <th>Court 8</th>
               <th>Court 9</th>
               <th>Court 10</th>
               <th>Court 11</th>
               <th>Court 12</th>
           </tr>
           <tr style="height: 100px">
               <td>08:00 - 09:30</td>
              <td><button onclick="location.href='/courts/reservationform/1/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/2/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/3/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/4/1'">Reserve Court</button></td>
              <td><button onclick="location.href='/courts/reservationform/5/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/6/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/7/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/8/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/9/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/10/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/11/1'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/12/1'">Reserve Court</button></td>  
           </tr>
           <tr style="height: 100px">
               <td>09:30 - 11:00</td>
               <td><button onclick="location.href='/courts/reservationform/1/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/2/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/3/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/4/2'">Reserve Court</button></td>
              <td><button onclick="location.href='/courts/reservationform/5/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/6/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/7/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/8/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/9/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/10/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/11/2'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/12/2'">Reserve Court</button></td>   
            </tr>
            <tr style="height: 100px">
               <td>11:00 - 12:30</td>
               <td><button onclick="location.href='/courts/reservationform/1/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/2/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/3/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/4/3'">Reserve Court</button></td>
              <td><button onclick="location.href='/courts/reservationform/5/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/6/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/7/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/8/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/9/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/10/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/11/3'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/12/3'">Reserve Court</button></td> 
            </tr>
            <tr style="height: 100px">
               <td>12:30 - 02:00</td>
               <td><button onclick="location.href='/courts/reservationform/1/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/2/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/3/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/4/4'">Reserve Court</button></td>
               <td><button onclick="location.href='/courts/reservationform/5/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/6/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/7/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/8/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/9/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/10/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/11/4'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/12/4'">Reserve Court</button></td>  
             </tr>
             <tr style="height: 100px">
               <td>02:00 - 03:30</td>
               <td><button onclick="location.href='/courts/reservationform/1/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/2/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/3/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/4/5'">Reserve Court</button></td>
              <td><button onclick="location.href='/courts/reservationform/5/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/6/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/7/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/8/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/9/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/10/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/11/5'">Reserve Court</button></td> 
              <td><button onclick="location.href='/courts/reservationform/12/5'">Reserve Court</button></td> 
            </tr>
            <tr style="height: 100px">
               <td>03:30 - 05:00</td>
               <td><button onclick="location.href='/courts/reservationform/1/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/2/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/3/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/4/6'">Reserve Court</button></td>
               <td><button onclick="location.href='/courts/reservationform/5/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/6/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/7/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/8/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/9/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/10/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/11/6'">Reserve Court</button></td> 
               <td><button onclick="location.href='/courts/reservationform/12/6'">Reserve Court</button></td> 
             </tr>
             
       </table>
       
   </div>
</div>
